@model IEnumerable<Student>


<div style="display: block">
    <a href="/Student/InsertStudent/">Create a New Student</a>
</div>


    <table class="table">
        <tr>
            <th>ID</th>
            <td>StudentID</td>
            <th>FirstName</th> @*Convert to plain english*@
            <th>LastName</th>
            <th>GitHubID</th>
            <th>Age</th>
            <th>Grade</th>
        </tr>

        @foreach(var student in @Model)
        {
        <tr>
            <td><a href=/Student/ViewStudent/@student.ID>@student.ID</a></td>
            <td>@student.StudentID</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.GitHubID</td>
            <td>@student.Age</td>
            <td>@student.Grade</td>
        </tr>
        }

    </table>
