
@model Student

<h3>@Model.FirstName Information</h3>

<table class="table">
    <tr>
        
        <th>ID</th>
        <th>StudentID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>GitHubID</th>
        <th>Age</th>
        <th>Grade</th>
    </tr>
    <tr>
        
        <td>@Model.ID</td>
        <td>@Model.StudentID</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.GitHubID</td>
        <td>@Model.Age</td>
        <td>@Model.Grade</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Student/UpdateStudent/@Model.ID">Update this Student</a>
</div>



<div style="display: block">

    @using (Html.BeginForm("DeleteStudent", "Student", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this student" />
    }
</div>